{% extends "base.html" %}

{% block title_page %}/ <strong>tests</strong>{% endblock %}

{% block content_page %}<h1>tests</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card text-white bg-dark mb-1">
        <div class="card-body">
            <h5 class="card-title">Тест 1</h5>
            <p class="card-text">Начало начал... вам понадобятся базовые знания логики в пайтон</p>
            
            <div class="d-grid gap-2">
                <a role="button" class="btn btn-primary btn-light btn-lg" href='1'>Решить тест</a>
            </div>
        
        </div>
    </div>
    <div class="card text-white bg-dark mb-1">
        <div class="card-body">
            <h5 class="card-title">Тест 2</h5>
            <p class="card-text">Задание 2 ЕГЭ по информатике</p>
            
            <div class="d-grid gap-2">
                <a role="button" class="btn btn-primary btn-light btn-lg" href='2'>Решить тест</a>
            </div>
        
        </div>
    </div>
    <div class="card text-white bg-dark mb-1">
        <div class="card-body">
            <h5 class="card-title">Тест 3</h5>
            <p class="card-text">Тест на знание логических опреций в excel</p>
            
            <div class="d-grid gap-2">
                <a role="button" class="btn btn-primary btn-light btn-lg" href='3'>Решить тест</a>
            </div>
        
        </div>
    </div>
    <div class="card text-white bg-dark mb-1">
        <div class="card-body">
            <h5 class="card-title">Тест 1</h5>
            <p class="card-text">Начало начал... вам понадобятся базовые знания логики в пайтон</p>
            
            <div class="d-grid gap-2">
                <a role="button" class="btn btn-primary btn-light btn-lg" href='1'>Решить тест</a>
            </div>
        
        </div>
    </div>
    <div class="card text-white bg-dark mb-1">
        <div class="card-body">
            <h5 class="card-title">Тест 1</h5>
            <p class="card-text">Начало начал... вам понадобятся базовые знания логики в пайтон</p>
            
            <div class="d-grid gap-2">
                <a role="button" class="btn btn-primary btn-light btn-lg" href='1'>Решить тест</a>
            </div>
        
        </div>
    </div>
</div>
{% endblock %}