{% extends "base.html" %}

{% block title_page %}/ <strong>Решение задачи 2 ЕГЭ</strong>{% endblock %}

{% block content_page %}
    {%load static %}
    <h1>Решение задачи 2 ЕГЭ</h1>
    <br></br>
    <h2>Данное задание взято с сайта ФИПИ</h2>
    <img class="picture" 
    src={% static "images/2_1.png"%}
    alt="задание" width="1000" height="500">
    <br></br>
    <h3>Для решения данного задания будем использовать python.</h3>
    <h3><ol>
        <li>Пишем строку <b>print('x, y, w, z')</b>, который будет первой строкой в таблице истинности.</li>
        <li>Пишем цикл для каждой переменной.</li>
        <li>Из условия задачи переписываем условие с использованием условного оператора if</li>
        <li>Пишем <b>print(x, y, w, z)</b>, чтобы вывести таблицу истинности</li>
    </ol></h3>
    <h3>Финальный код выглядит так:</h3>
    <img class="picture" 
    src={% static "images/2_2.png"%}
    alt="решение">
    <br></br>
    <h3>Таблица истинности выглядит так:</h3>
    <img class="picture" 
    src={% static "images/2_3.png"%}
    alt="таблица">
    <br></br>
    <h3>Анализируя таблицу, которая дается в задачей, точно можно сказать, что:</h3>
    <h3><ol>
        <li>Последняя строка таблицы принадлежит переменной <b>X</b>, т.к. только эта переменная имеет 2 нуля в таблице истинности</li>
        <li>Предпоследняя строка таблицы принадлежит переменной <b>W</b>, т.к. только эта переменная имеет 3 единицы в таблице истинности</li>
        <li>Теперь смотрим по переменной <b>X</b> строчку, когда она была 1. И, анализируя таблицу истинности, 0 есть только у переменной <b>Z</b></li>
        <li>Остается последняя переменная <b>Y</b>, которую мы ставим самой первой</li>
    </ol></h3>
    <h2>Конечный ответ: <b>yzwx</b></h2>
    <br></br>
    <h1><b><a class='ssilka' href='{% url 'tests_index' %}2'>Задания 2 ЕГЭ информатика (клик)</a></b></h1>
    <h2></h2>
{% endblock %}