{% extends "base.html" %}

{% block title_page %}/ <strong>Глава 2</strong>{% endblock %}

{% block content_page %}
    {%load static %}
    <h1>Логика в excel</h1>
    <br></br>
    <h2><b>Функции ИСТИНА и ЛОЖЬ</b></h2>
    <h3>Функции ИСТИНА и ЛОЖЬ не используют самостоятельно — только внутри других логических функций. Они нужны, чтобы отмечать значения как истинные или ложные.
        
        Функция ИСТИНА возвращает только истинные значения. Её синтаксис: <b>=ИСТИНА()</b>.
        
        Функция ЛОЖЬ возвращает только ложные значения. Её синтаксис: <b>=ЛОЖЬ()</b>.</h3>
    <br></br>
    <h2><b>Функции И и ИЛИ</b></h2>
    <h3>Функция И. Её используют, чтобы показать, что указанные число или текст должны соответствовать 
        одновременно всем критериям. В этом случае функция возвращает значение ИСТИНА. 
        Если один из критериев не соблюдается, функция И возвращает значение ЛОЖЬ.

        Синтаксис функции И такой: <b>=И(логическое_значение1;логическое_значение2;…)</b>, 
        где логическое_значение — условия, которые функция будет проверять. 
        Задано может быть до 255 условий.</h3>
        <img src={% static "images/3_1.png" %} alt="photo_excel" width="1000" height="500">
    <br></br>
    <h3>Функции ИСТИНА и ЛОЖЬ не используют самостоятельно — только внутри других логических функций. Они нужны, чтобы отмечать значения как истинные или ложные.
        
        Функция ИСТИНА возвращает только истинные значения. Её синтаксис: <b>=ИСТИНА()</b>.
        
        Функция ЛОЖЬ возвращает только ложные значения. Её синтаксис: <b>=ЛОЖЬ()</b>.</h3>
    <br></br>
    <h3>Функция ИЛИ. Её используют, чтобы показать, что указанные число или текст должны соответствовать одному из условий. Если хотя бы одно условие соблюдено, функция возвращает значение ИСТИНА. Если все условия не соблюдены, функция ИЛИ возвращает значение ЛОЖЬ.

        Синтаксис функции ИЛИ: <b>=ИЛИ(логическое_значение1;логическое_значение2;…)</b>.
        
        Максимальное количество логических значений (условий) — тоже 255.</h3>
        <img src={% static "images/3_2.png" %} alt="photo_excel" width="1000" height="500">
    <br></br>
    <h2><b>Функция НЕ</b></h2>
    <h3>С помощью этой функции возвращают значения, которые противоположны по отношению к заданному параметру.

        Если в качестве параметра функции НЕ указать ложное значение — она вернёт значение ИСТИНА. Наоборот, если указать истинное значение, функция вернёт ЛОЖЬ.
        
        Синтаксис функции НЕ: =НЕ(логическое_значение), где «логическое_значение» — выражение, которое нужно проверить на соответствие значениям ИСТИНА или ЛОЖЬ. В этой функции можно использовать только одно такое выражение.
        
        Пример работы функции НЕ. Проверим выражение «662 меньше 500». Выберем любую ячейку и в строке формул введём: <b>=НЕ</b>(A1<500), где А1 — ячейка с числом 662.</h3>
        <img class="picture" src={% static "images/3_3.png" %} alt="photo_excel" width="1000" height="500">
    <br></br>
    <h2><b>Функция ЕПУСТО</b></h2>
    <h3>Функция ЕПУСТО проверяет, есть ли в выбранной ячейке какие-либо значения — например, число, текст, формула, пробел — или эти ячейки пустые. Если ячейка пустая, функция возвращает значение ИСТИНА, если в ячейке есть данные — ЛОЖЬ.

        Синтаксис функции ЕПУСТО: <b>=ЕПУСТО(значение)</b>, где значение — ячейка, которую нужно проверить.
        
        Пример работы функции ЕПУСТО. Проверим, есть ли скрытые символы в ячейках А5 и А6. Визуально эти ячейки пустые.
        
        Выберем любую ячейку и в строке формул введём: <b>=ЕПУСТО(A5)</b>, где A5 — ячейка, которую нужно проверить.</h3>
        <img class="picture" src={% static "images/3_4.png" %} alt="photo_excel" width="1000" height="500">

    <br></br>
    <h2><a class='ssilka' href="https://skillbox.ru/media/management/logicheskie-funktsii-v-excel-dlya-chego-nuzhny-i-kak-ikh-ispolzovat-primery-so-skrinshotami/">Ссылка на первоисточник (клик)</a></h2>
{% endblock %}