{% extends "base.html" %}

{% block title_page %}/ <strong>Решение задачи 9 ЕГЭ</strong>{% endblock %}

{% block content_page %}
    <h1>Решение задачи 9 ЕГЭ</h1>
    <br></br>
    <figure class="text-center">
        <iframe width="1000" height="500" src="https://rutube.ru/play/embed/125561ee222f30a28440034e66e9361d/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <h3>Видео взято с канала <b>Иван Викторович</b></h3>
    </figure>
    <br></br>
    <h1><b><a class='ssilka' href='{% url 'tests_index' %}2'>Задачи 9 ЕГЭ(клик)</a></b></h1>
{% endblock %}