{% extends "base.html" %}

{% block title_page %}/ <strong>Глава 1</strong>{% endblock %}

{% block content_page %}
    {% load static %}
    <h2>Алгебра логики (англ. algebra of logic) — один из основных разделов математической логики,
 в котором методы алгебры используются в логических преобразованиях.</h2>
    <br></br>
    <h2>Логическое высказывание — это любое повествовательное предложение, 
        в отношении которого можно однозначно утверждать, что его содержание истинно или ложно.

        Например, «3 умножить на 3 равно 9», «Архангельск севернее Вологды» — истинные высказывания, 
        а «Пять меньше трех», «Марс — звезда» — ложные.</h2>
    <br></br>
    <h1>Основные операции алгебры логики</h1>
    <br></br>
    <h2><b>1. Логическое отрицание, инверсия</b></h2>
    <h3>Высказывание, образованное путем добавления связки «не» к простому высказыванию, называется инверсией (отрицанием).

        В русском языке для образования отрицания может также использоваться связка «неверно, что».
        
        Например, пусть высказывание А – «Число 22 простое», тогда высказывание «не» А (формально, F = ¬ A): «Неверно, что число простое»
        
        Определение. Логическая операция, которая каждому высказыванию ставит в соответствие новое высказывание, значение которого противоположно исходному, называется отрицанием.
        
        Логическая операция инверсия задается следующей таблицей истинности:</h4>
    <figure class="text-center">
        <img class="picture" 
        src={% static "images/1_1.png"%}
        alt="фото инверсии" width="500" height="500">
    </figure>
    <br></br>
    <h3>Пример на языке Python: <b>not(A)</b></h3>
    <br></br>
    <h2><b>2. Конъюнкция</b></h2>
    <h3>Высказывание, составленное из двух высказываний путем объединения их связкой «и» называется конъюнкцией.

        Например, пусть есть два высказывания: А – «Число 22 четное», В – «Число 22 двузначное», тогда высказывание А и В (формально, F = А ∧ В): «Число 22 четное и двузначное».
        
        Определение. Логическая операция, ставящая в соответствие двум высказываниям новое, являющееся истинным тогда и только тогда, когда оба исходных высказывания истинны, называется конъюнкцией.
        
        Логическая операция конъюнкция задается следующей таблицей истинности:</h3>
    <figure class="text-center">
        <img class="picture" 
        src={% static "images/1_2.png"%}
        alt="фото инверсии" width="500" height="500">
    </figure>
    <br></br>
    <h3>Пример на языке Python: <b>b and c</b></h3>
    <br></br>
    
    <h2><b>3. Дизъюнкция</b></h2>
    <h3>Высказывание, составленное из двух высказываний путем объединения их связкой «или» называется дизъюнкцией.

        Например, пусть есть два высказывания: А – «Колумб был на Ямайке», В – «Колумб был на Гаити», тогда высказывание А или В (Формально, F = А ∨ В): «Колумб был на Ямайке или на Гаити».
        
        Определение. Логическая операция, ставящая в соответствие двум высказываниям новое, являющееся ложным тогда и только тогда, когда оба исходных высказывания ложны, называется дизъюнкцией.
        
        Логическая операция дизъюнкция задается следующей таблицей истинности:</h3>
    <figure class="text-center">
        <img class="picture" 
        src={% static "images/1_3.png"%}
        alt="фото инверсии" width="500" height="500">
    </figure>
    <br></br>
    <h3>Пример на языке Python: <b>b or c</b></h3>
    <br></br>
    <h2><b>4. Эквивалентность</b></h2>
    <h3>Высказывание, образованное из двух высказываний путем объединения их связкой «…тогда и только тогда, когда…» называется эквивалентностью.

        Например, пусть есть два высказывания: А – «Треугольник равнобедренный», В – «Треугольник имеет хотя бы две равные стороны», тогда высказывание А тогда и только тогда, когда В (Формально, F = А ≡ В): «Треугольник равнобедренный, тогда и только тогда, когда он имеет хотя бы две равные стороны».
        
        Определение. Логическая операция, ставящая в соответствие двум элементарным высказываниям новое, являющееся истинным тогда и только тогда, когда оба исходных высказывания одновременно истинны или одновременно ложны, называется эквивалентностью.
        
        Логическая операция эквивалентность задается следующей таблицей истинности:</h3>
    <figure class="text-center">
        <img class="picture" 
        src={% static "images/1_4.png"%}
        alt="фото инверсии" width="500" height="500">
    </figure>
    <br></br>
    <h3>Пример на языке Python: <b>b == c</b></h3>
    <br></br>
    <h2><b>5. Импликация</b></h2>
    <h3>Высказывание, образованное из двух высказываний путем объединения их связкой «если…, то…» называется импликацией.

        Например, пусть есть два высказывания: А – «На каникулах будет экскурсия», В – «Старшеклассники посетят Третьяковскую галерею», тогда высказывание Если А, то В (Формально, F = А ⇒ В): «Если на каникулах будет экскурсия, то старшеклассники посетят Третьяковскую галерею».
        
        Определение. Логическая операция, ставящая в соответствие двум элементарным высказываниям новое высказывание, являющееся ложным тогда и только тогда, когда условие (посылка) — истинно, а следствие (заключение) — ложно, называется импликацией.
        
        Логическая операция импликация задается следующей таблицей истинности:</h3>
    <figure class="text-center">
        <img class="picture" 
        src={% static "images/1_5.png"%}
        alt="фото инверсии" width="500" height="500">
    </figure>
    <br></br>
    <h3>Пример на языке Python: <b>b <= c</b></h3>
    <br></br>
    <h2>Существует две логические константы: 0 (ложь) и 1 (истина).</h2>
    <br></br>
    <h2>
        В логических выражениях операции имеют следующий приоритет:
        <ol>
            <li>действия в скобках;</li>
            <li>инверсия;</li>
            <li>конъюнкция;</li>
            <li>дизъюнкция и строгая дизъюнкция;</li>
            <li>импликация;</li>
            <li>эквивалентность.</li>
        </ol>
    </h2>
    <br></br>
    <h1><b><a class='ssilka' href='{% url 'tests_index' %}1'>Тест по Главе 1 (клик)</a></b></h1>
    <br></br>
    <h2></h2>
{% endblock %}